* {
    font-family: 'RocknRoll One', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    /* background-color: rgb(245, 160, 234); */
    padding: 34px;
    margin: auto;
}

.h3 {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    font-family: 'RocknRoll One', sans-serif;
}

.container h3,
p {
    text-align: center;
}

p {
    font-size: 20px;
}

input,
textarea {
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
}


/* form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.btn {
    color: rgb(117, 210, 223);
    /* background: rgb(223, 113, 223); */
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}

.submitMsg {
    color: rgb(104, 6, 22);
}